div {
  background-color:lavender;
  border: 1px solid black;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
ul {
  display: inline-flex;
  list-style-type: none;
  li {
    padding: 5px;
    margin-right: 10px;
    background-color: rgb(235, 192, 132);
    border-radius: 10px;
  }
}
